---
AWSTemplateFormatVersion: '2010-09-09'
Description: SPID Hub - Storage


Parameters:

  Project:
    Description: The project
    MinLength: 3
    Type: String

  StorageKMSKey:
    Default: alias/aws/s3
    Description: KMS key to encrypt storage
    Type: String

  BucketName:
    Type: String
    Description: Bucket Name

  AlbLogBucketRetention:
    Type: String
    Description: Retention of bucket 

Resources:

  Storage:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      BucketName: !Ref BucketName
      BucketEncryption:
        ServerSideEncryptionConfiguration:
        - ServerSideEncryptionByDefault:
            KMSMasterKeyID:
              Fn::Sub: "arn:${AWS::Partition}:kms:${AWS::Region}:${AWS::AccountId}:${StorageKMSKey}"
            SSEAlgorithm: aws:kms
      PublicAccessBlockConfiguration:
        BlockPublicAcls: True
        BlockPublicPolicy: True
        IgnorePublicAcls: True
        RestrictPublicBuckets: True
      VersioningConfiguration:
        Status: Enabled

  AlbLogBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      BucketName: !Sub pn-spidhub-alb-log-${AWS::AccountId}-${AWS::Region}
      LifecycleConfiguration:
        Rules:
          - Id: ExpirationRule
            Status: Enabled
            ExpirationInDays: !Ref AlbLogBucketRetention

  AlbLogBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties: 
      Bucket: !Ref AlbLogBucket
      PolicyDocument: 
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              # IDD of the AWS account for Elastic Load Balancing for Milan Region (https://docs.aws.amazon.com/elasticloadbalancing/latest/application/enable-access-logging.html)            
              AWS: arn:aws:iam::635631232127:root
            Action: s3:PutObject
            Resource: !Sub arn:aws:s3:::${AlbLogBucket}/AWSLogs/${AWS::AccountId}/*